html {
    font-size: 10pt;
}

body {}


/*HEADER*/

#nav-list a {
    text-align: center;
    background-color: bisque;
}

#nav-list a:hover {
    background-color: orange;
}


/*HEADER_END*/


/*MAIN*/

.food_type {
    margin-top: 1rem;
    background-color: lightgrey;
}


/*MAIN_END*/
