* {
    text-align: justify;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10pt;
    font-family: Ubuntu, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 2rem;
}

section,
h2 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

h2 {
    font-size: 1.5rem;
    font-weight: 100;
    position: relative;
    float: right;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top: none;
    border-right: none;
}

h1,
h2 {
    text-transform: capitalize;
}

#chicken h2 {
    background-color: lightcoral;
}

#beef h2 {
    background-color: darkred;
    color: white;
}

#sushi h2 {
    background-color: khaki;
}

section {
    float: left;
    text-transform: lowercase;
    background-color: lightgray;
}

p {
    clear: both;
    padding: 1rem;
}


/*phone*/

@media screen and (max-width: 767px) {
    .one_col {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
}


/*tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .two_cols {
        width: 47%;
    }
    .bottom_col {
        clear: both;
        width: 96%;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }
    #chicken {
        margin-right: 1%;
        margin-left: 2%;
    }
    #beef {
        margin-right: 2%;
        margin-left: 1%;
    }
}


/*desktop*/

@media screen and (min-width: 992px) {
    .three_cols {
        width: 30.6666%;
    }
    .three_cols + .three_cols {
        margin-left: 2%;
    }
    #chicken {
        margin-left: 2%;
    }
    #sushi {
        margin-right: 2%;
    }
}
