* {
    text-align: justify;
    box-sizing: border-box;
    position: relative;
}

section {
    float: left;
}


/*phone*/

@media screen and (max-width: 767px) {
    .one_col {
        width: 100%;
    }
}


/*tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .two_cols {
        width: 50%;
    }
    .bottom_col {
        clear: both;
        width: 100%;
    }
}


/*desktop*/

@media screen and (min-width: 992px) {
    .three_cols {
        width: 33.3%;
    }
}
